<footer>
    <div class="f-info">
        <div class="f-info-socialmedia">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>&copy;WanderLust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/Terms">Terms</a>

        </div>
    </div>
</footer>