<style>
  .btn-style{
    display: flex;
    align-items: center;
    
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
  }
  .btn-style:hover{
    background-color: #fe424d;
    color: white;

  }
  .btn-style i{
    margin-right: 0.5rem;
    
  }
  .search{
    border-radius: 1rem !important;
  }

  
</style>



<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>




    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        
        <a class="nav-link" href="/listing">ALL LISTINGS</a>
        
      </div>




      <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-style" type="submit"><i class="fa-brands fa-searchengin"></i> Search</button>
      </form>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">CREATE</a>
        <% if(!Current){ %>
          <a class="nav-link active" aria-current="page" href="/signUp"><b>SignIn</b></a>
          <a class="nav-link" href="/login"><b>LogIn</b></a>

        <% } %>
        <% if(Current){ %>
          <a class="nav-link" href="/logout"><b>LogOut</b></a>
          
          <% } %>
        
        
      </div>
    </div>
  </div>
</nav>