<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>CREATE</h1>
    <form action="/listing" method="post">
        <input name="title" type="text" placeholder="enter title...">
        <br><br>
        <textarea name="description" placeholder="enter description..."></textarea>
        <br><br>
        <input type="text" name="image" placeholder="enter image url/link">
        <br><br>
        <input type="text" placeholder="enter price" name="price">
        <br><br>
        <input type="text" placeholder="enter location..." name="location">
        <br><br>
        <input type="text" placeholder="enter country" name="country">
        <br><br>
        <button>ADD</button>
    </form>
    

    
</body>
</html>


