<%- layout("layouts/boilerplate") -%>
<body>
    
    <div class="row " >
        <div class="col-8 offset-2">
            <br>
            <h3>CREATE NEW LISTING</h3>
            <form action="/listing" method="post">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" placeholder="Add a catchy title" class="form-control" id="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="from-label">Image</label>
                    <input type="text" name="image" placeholder="Enter image url/link" class="form-control" id="image">
                </div>
                <div class="row" style="margin-left: -10px;">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" placeholder="900" name="price" class="form-control" id="price">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label" >Country</label>
                        <input type="text" placeholder="India" name="country" class="form-control" id="country">
                    </div>
                </div>

                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="Jaipur,Rajasthan" name="location" class="form-control" id="location">
                </div>
                
                <br>
                <button class="btn btn-dark add-btn">ADD</button>
                <br><br>
            </form>
        </div>
    </div>
    

    
</body>
</html>






