<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>

    <h1>All listing is here</h1>
    <form method="get" action="/listing/new">
        <button>CREATE</button>
    </form>

    <ul>
        <% for(let listing of alllistings){ %>
            <li><a href="/listing/<%= listing._id %>"> <%= listing.title %> </a></li>
            
            

        <% } %>

    </ul>
    
    
</body>
</html>

