body{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
}

.nav-link{
    color: #222222 !important;
}
.A{
    text-decoration: none !important;
}
.f-info{
    height: 7rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#ebebeb;
}
.f-info-socialmedia,.f-info-links{
    
    width: 100%;
}
.f-info-socialmedia i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}


.listing1-card{
    border: none !important;
    margin-bottom: 2rem;
    
}
.card-img-top{
    border-radius: 1rem !important; 
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding-bottom: 0% !important;
}
.row{
    margin-left: 6rem !important;
}


.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}

.row {
    margin-left: -0.60rem !important;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.Edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show img */
.show-img{
    height: 30vh !important;
}
.btns{
    display: flex !important;
}
.card-body{
    padding-left: 0 !important ;
}

.img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


#map{
    height: 20rem;
    width: 90vh;
}